body {
    color: #999;
}

.ticket-container {
    display: table;
    width: 95%;
    margin: 0px auto;
    margin-top: 70px;
    text-align: left;
    border-collapse: collapse;   
}

.ticket-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 1%;
    border: 1px solid lightgray;
    display: table-row;
}
.ticket-item span {
    display: table-cell;
    border: 0px solid black;
    flex-grow: 1;
    padding: 7px;
    padding-left: 10px;
    /* width: 100%; */
}
/* махинация с бордер чтоб не было двойных. */

.ticket-container div:first-child {
    border-bottom: none;
}

.ticket-container div:last-child {
    border-top: none;
}

/* стили для модального окна */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;     
    max-width: 500px; 
    position: relative;
}

/* кнопка закрытия модального окна */
.btn-close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaa;
    float: right;
    font-size: 18px;
    font-weight: bold;
}

.btn-close:hover,
.btn-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#btn-short-create, #btn-full-create {
    margin: 5px;
}
#createNewTicketBtn {
    margin-top: 20px;
}

/* стили для кнопки редактирования и удаления */
.btn-edit .btn-delete {
    width: 100px;
}

/* рисуем галочу если true */
.checkmark {
    max-width: 30px;
    border-radius: 50%;
    border-color:lightgrey;
    border: 1px solid lightgray;
    text-align: center;
    cursor: pointer;
}

/* стили модального окна подтвержения */

.modal-buttons {
    display: flex;
    justify-content: center;
    gap: 15px; /* Расстояние между кнопками */
}
        
.modal-confirm-ok, .modal-confirm-discard {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.2s ease;
        }